* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    background-color: rgb(114, 84, 144);
    max-width: 820px;
    padding: 40px;

    min-height: 380px;
}

.cabecalho h1 {
    color: white;
    margin-bottom: 16px;
    letter-spacing: 0.1rem;
}

hr {
    margin: 8px 0 ;
}

.form {
    display:flex;
    align-items: center;
}

.input-task, .btnNewItem, .date-time {
    height: 52px;
    border: none;
    font-size: 16px;
    padding: 8px 16px;

    font-family: 'Fredoka', sans-serif;
}

.input-task {
    border-radius: 8px 0px 0px 8px;

}

.date-time {
    border-left: solid 2px #c3c3c3;
}


.btnNewItem {
    background-color: rgb(233, 186, 68);
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    color: rgb(114, 84, 144);
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    letter-spacing: 0.06rem;

    transition: background 0.4s;
}

.btnNewItem:hover {
    background-color: rgb(240, 202, 106)
}

.btnNewItem:active {
    background-color:rgb(202, 154, 31);
    transform: scale(0.96)
    
}

.list {
    list-style: none;
    margin-top: 16px;
    
}
    
.item-list {
    background: rgb(125, 91, 158);
    border:rgb(136, 102, 170) solid 1px;
    border-radius: 8px;
    color: white;
    padding: 16px;
    margin-bottom: 8px; 
    font-size: 18px;

    transition: background 0.4s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.item-list:hover {
    background: rgb(136, 102, 170);
}

.item-list .btn-check {
    border: none;
    border-radius: 16px;
    background: rgb(161, 120, 202);
    color: white;

    margin-left: 16px;
    padding: 4px 7px;
}

.item-list.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.content-data {
    margin-bottom: 16px;
    margin-left: 16px;
    font-size: 18px;
    color: white;
}